@media (max-width: 768px) {
    .navbar-collapse {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #3e4149;
        transition: all 0.5s;
    }

    .navbar-toggler {
        outline: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse .nav-link {
        font-size: 1.5em;
        letter-spacing: 2px;
        color: #fff;
    }

    .navbar-collapse .nav-link:hover {
        color: darkseagreen;
    }

    .nav-item {
        padding: 0.2em 4em;
    }
    .nav-item:not(:last-child) {
        border-bottom: 1px solid gray;
    }

}

/* Desktop-specific styles (md and larger) */
@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
    }

    .navbar-brand {
        padding-left: 200px;
    }

    .navbar-nav {
        margin-left: 100px
    }
    .navbar-collapse .nav-link {
        color: black;
        font-size: 1.2em;
        letter-spacing: normal;
        border-bottom: none;
    }

    .nav-item {
        position: relative;
        padding: 0 25px;
    }

    .nav-item:hover {
        background-color: lightgray;
    }

    .nav-item .dropdown-menu {
        min-width: 10rem;
        width: auto;
        left: 0;
        right: auto;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

body {
    padding: 0; /* Reset body padding */
}

