@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Extralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Switzer', sans-serif;
}

@media (max-width: 1400px) {
        /* This will cover the whole page with a black overlay */
        .mobile-coming-soon-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            z-index: 1000; /* Ensure it’s above everything else */
        }

    .navbar {
        background-color: black !important;
    }

    a {
        color: black !important;
    }

    /*
    .navbar-collapse {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #3e4149;
        transition: height 0.5s;
    }

    .navbar-collapse.collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .dropdown-menu {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }

    .dropdown-menu.show {
        opacity: 1;
        visibility: visible;
        transition: max-height 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
    }

    .dropdown-menu.collapsing {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse .nav-link {
        font-size: 1.5em;
        letter-spacing: 2px;
        color: #fff;
    }

    .navbar-collapse .nav-link:hover {
        color: darkseagreen;
    }

    .nav-item {
        padding: 0.2em 4em;
        text-align: center;
    }

    .nav-item:not(:last-child) {
        border-bottom: 1px solid gray;
    }
    */
}

/* Desktop-specific styles (md and larger) */
@media (min-width: 1401px) {
    .navbar-collapse {
        display: flex;
    }
    .navbar {
        background-color: transparent;
        border: 2px solid black;
    }

    .navbar-brand {
        padding-left: 200px;
    }

    .navbar-nav {
        margin-left: 100px
    }
    .navbar-collapse .nav-link {
        color: black;
        font-size: 1.2em;
        letter-spacing: normal;
        border-bottom: none;
    }

    .nav-item {
        position: relative;
        padding: 0 25px;
    }

    .nav-item:hover {
        background-color: lightgray;
    }

    .nav-item .dropdown-menu {
        display: none;
        min-width: 10rem;
        width: auto;
        left: 0;
        right: auto;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    /* Disable click to open dropdown */
    .nav-item.dropdown > .nav-link {
        pointer-events: none;
    }

    .nav-item.dropdown:hover > .nav-link {
        pointer-events: auto;
    }

    .main {
        max-height: 100vh;
        padding-top: 191px;
        background-color: #124532;
        background-image:
                linear-gradient(180deg, rgba(18, 69, 50, 0.2), rgba(0, 0, 0, 0.68)),
                linear-gradient(180deg, rgba(18, 69, 50, 0.7), rgba(12, 50, 36, 0.7)),
                url('white-gears.jpg');
        background-position: 0px 0px, 0px 0px, 50% 50%;
        background-size: auto, auto, cover;
        background-attachment: scroll, scroll, scroll;
        background-position: center;
        color: white;
    }

    .main h1 {
        font-family: 'Switzer', sans-serif;
        font-weight: 900;
    }

    .main-button {
        transition: transform 0.3s ease;
        color: black !important;
        font-weight: bold !important;
    }

    .main-button:hover {
        transform: scaleX(1.05); /* Scale horizontally by 5% */
    }

    .main-button-margin {
        margin-top: -400px;
    }

    .upcoming-events {
        position: relative;
        margin-left: 200px;
        margin-right: 6rem !important;
        width: 200px; /* Set a fixed width or use a percentage */
        z-index: 1; /* Ensure it stays on top of other content */
    }

    .upcoming-events h3 {
        font-family: 'Switzer', sans-serif;
        font-weight: 900;
        color: #CFB687 !important;
    }

    .event {
        width: 205px;
        font-weight: 700;
        color: #D8E0DD;
    }

    .event-date {
        font-weight: 900;
        color: #CFB687 !important;
    }

    .stats {
        background-image:
                linear-gradient(180deg, rgba(18, 69, 50, 0.2), rgba(0, 0, 0, 0.68)),
                linear-gradient(180deg, rgba(18, 69, 50, 0.7), rgba(12, 50, 36, 0.7)),
                url('white-gears.jpg');
    }

    .stats-text {
        color: white;
        font-weight: 700;
        font-size: 52px;
    }

    .stats-header {
        font-size: 65px;
        font-weight: 900 !important;
        color: #CFB687;
        /* TODO: possible color choice
        color: #CFB687;
         */
        margin-bottom: 5px;
    }

    .stats-caption {
        font-size: 30px;
        font-weight: 900 !important;
        color: #e2e2e2;
    }

    blockquote {
        margin-bottom: 30px;
        padding: 0 20px;
        border-left: 5px solid #e2e2e2;
        color: white;
        font-size: 20px;
        line-height: 29px;
    }

    .faq h1 {
        font-size: 54px;
        font-weight: 900;
        color: #CFB687;
    }

    .faq h2 {
        font-weight: 700;
        color: #124532;
    }

    .faq p {
        font-weight: 400;
    }

    /* White footer
    .footer {
        text-align: center;
        border-top: 1px solid black;
        background-image: linear-gradient(180deg, #fff 10%, transparent), url('white-gears.jpg');
        background-position: 0 0, 0 0;
        background-size: contain, 960px;
    }

    .footer h4 {
        font-weight: 900;
        color: #124532;
    }

    .footer a {
        font-weight: 700;
        color: black;
    }

    .footer a:hover {
        color: #CFB687;
    }

    .footer h5 {
        font-weight: 700;
        color: black;
    }

    .footer h6 {
        font-weight: 600;
    }
     */

    .footer {
        text-align: center;
        border-top: 1px solid black;
        background-image:
            linear-gradient(180deg, rgba(18, 69, 50, 0.2), rgba(0, 0, 0, 0.68)),
            linear-gradient(180deg, rgba(18, 69, 50, 0.7), rgba(12, 50, 36, 0.7)),
            url('white-gears.jpg');

    }

    .footer h4 {
        font-weight: 900;
        color: #CFB687;
    }

    .footer a {
        font-weight: 700;
        color: #D8E0DD;
    }

    .footer a:hover {
        color: #CFB687;
    }

    .footer h5 {
        font-weight: 700;
        color: #D8E0DD;
    }

    .footer hr {
        color: #D8E0DD;
    }
    .footer h6 {
        font-weight: 600;
        color: #D8E0DD;
    }

    /* Sponsor page */
    .general {
        background-image:
            linear-gradient(180deg, rgba(18, 69, 50, 0.2), rgba(0, 0, 0, 0.68)),
            linear-gradient(180deg, rgba(18, 69, 50, 0.7), rgba(12, 50, 36, 0.7)),
            url('white-gears.jpg');
        color: white;
        padding-top: 191px;
    }

    .general h1 {
        font-weight: 900;
    }

    .general h3 {
        font-weight: 700;
        color: #CFB687;
    }

    .general button {
        transition: transform 0.3s ease;
        color: black !important;
        font-weight: bold !important;
    }

    .general button:hover {
        transform: scaleX(1.05); /* Scale horizontally by 5% */
    }

    /* Advisors page */
    .advisor h1{
        font-weight: 900;
        color: #CFB687;
    }

    .advisor h3 {
        font-weight: 700;
        color: #2E703B;
    }

    .advisor p {
        font-weight: 500;
    }

    .advisor-image {
        width: 400px; /* Adjust the size as needed */
        height: 400px; /* Ensure the height and width are the same for a perfect circle */
        object-fit: cover; /* Ensure the image covers the circle area without stretching */
    }

    /* Carousel styling */
    .fullview {
        height: 100vh;
    }

    .general .carousel-control-prev-icon,
    .general .carousel-control-next-icon {
        background-color: black; /* Change the color of navigation buttons */
    }

    .general .carousel-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    .general .carousel-item {
        display: flex;
        justify-content: center;
        transition: transform 0.5s ease;
    }

    .general .active-card {
        width: 400px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 150px;
        margin-right: 150px;
    }

    .general .small-card {
        width: 300px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        opacity: 0.6; /* Slightly faded to emphasize active card */
    }

    .general .event-date {
        font-weight: 900;
        font-size: 18px;
        color: #CFB687;
    }

    .general .event-title {
        font-weight: 900;
        font-size: 22px;
        color: #124532;
    }

    .general .event-description {
        font-weight: 500;
        font-size: 16px;
        color: black;
    }

    .events {
        height: 500px;
    }

    .events h1 {
        font-weight: 900;
        color: #124532;
    }

    .events p {
        font-weight: 500;
    }

    /* Bootstrap custom classes */
    .ml-main {
        position: relative;
        margin-left: 300px;
    }

    .me-main {
        position: relative;
        margin-right: 300px;
    }

    .mt-main {
        margin-top: 191px;
    }

    .mb-6 {
        margin-bottom: 5rem;
    }

    /* event padding */
    .ep {
        padding-bottom: 5px;
    }
    .fs-0 {
        font-size: 5rem;
    }

    .fs-main-h {
        font-size: 54px;
    }

    .fs-main-p {
        font-size: 19px;
    }
    .fs-6 {
        font-size: 1rem;
    }

    .pb-6 {
        padding-bottom: 4rem;
    }

    .mt-6 {
        margin-top: 4rem;
    }
}