@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Extralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('fonts/Switzer-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Switzer', sans-serif;
}

@media (max-width: 1400px) {
    .navbar-collapse {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #3e4149;
        transition: height 0.5s;
    }

    /* Navbar collapse transition */
    .navbar-collapse.collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    /* TODO add mobile transition for dropdown-menu */
    /* Dropdown menu default */
    .dropdown-menu {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }

    /* Dropdown menu expanding (show) */
    .dropdown-menu.show {
        max-height: 300px; /* Adjust as needed */
        opacity: 1;
        visibility: visible;
        transition: max-height 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
    }

    /* Specialized dropdown collapsing */
    .dropdown-menu.collapsing {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse .nav-link {
        font-size: 1.5em;
        letter-spacing: 2px;
        color: #fff;
    }

    .navbar-collapse .nav-link:hover {
        color: darkseagreen;
    }

    .nav-item {
        padding: 0.2em 4em;
        text-align: center;
    }

    .nav-item:not(:last-child) {
        border-bottom: 1px solid gray;
    }
}

/* Desktop-specific styles (md and larger) */
@media (min-width: 1401px) {
    .navbar-collapse {
        display: flex;
    }
    .navbar {
        background-color: transparent;
    }

    .navbar-brand {
        padding-left: 200px;
    }

    .navbar-nav {
        margin-left: 100px
    }
    .navbar-collapse .nav-link {
        color: black;
        font-size: 1.2em;
        letter-spacing: normal;
        border-bottom: none;
    }

    .nav-item {
        position: relative;
        padding: 0 25px;
    }

    .nav-item:hover {
        background-color: lightgray;
    }

    .nav-item .dropdown-menu {
        display: none;
        min-width: 10rem;
        width: auto;
        left: 0;
        right: auto;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    /* Disable click to open dropdown */
    .nav-item.dropdown > .nav-link {
        pointer-events: none;
    }

    .nav-item.dropdown:hover > .nav-link {
        pointer-events: auto;
    }

    .main {
        max-height: 100vh;
        padding-top: 191px;
        background-color: #124532;
        <!-- background-image: url("gears.png"); -->
        background-position: center;
        color: white;
    }

    .main h1 {
        font-family: 'Switzer', sans-serif;
        font-weight: 900;
    }

    .main-button {
        transition: transform 0.3s ease;
        color: black !important;  /* Ensures text stays black */
        font-weight: bold !important;  /* Ensures bold text */
    }

    .main-button:hover {
        transform: scaleX(1.05); /* Scale horizontally by 5% */
        color: black !important;  /* Keep text color black on hover, focus, and active */
        font-weight: bold !important;  /* Keep text bold on hover, focus, and active */
    }

    .main-button-margin {
        margin-top: -400px;
    }

    .upcoming-events {
        position: relative;
        margin-left: 200px;
        margin-right: 6rem !important;
        width: 200px; /* Set a fixed width or use a percentage */
        z-index: 1; /* Ensure it stays on top of other content */
    }

    .upcoming-events h3 {
        font-family: 'Switzer', sans-serif;
        font-weight: 700;
        color: #CFB687 !important;
    }

    .event {
        width: 205px;
        font-weight: 700;
        color: #D8E0DD;
    }

    .event-date {
        font-weight: 900;
        color: #CFB687 !important;
    }

    .stats {
        background-color: #124532;
    }

    .stats-text {
        color: white;
        font-weight: 700;
        font-size: 52px;
    }

    .stats-header {
        font-size: 65px;
        font-weight: 900 !important;
        color: #2E703B;
        /* TODO: possible color choice
        color: #CFB687;
         */
        margin-bottom: 5px;
    }

    .stats-caption {
        font-size: 30px;
        font-weight: 900 !important;
        color: #e2e2e2;
    }

    blockquote {
        margin-bottom: 30px;
        padding: 0 20px;
        border-left: 5px solid #e2e2e2;
        color: white;
        font-size: 20px;
        line-height: 29px;
    }

    .faq h1 {
        font-size: 54px;
        font-weight: 900;
        color: #CFB687;
    }

    .faq h2 {
        font-weight: 700;
        color: #124532;
    }

    .faq p {
        font-weight: 400;
    }

    .footer {
        background-color: #D3D3D3; /* Light shadow above footer */
        text-align: center;
    }

    .ml-main {
        position: relative;
        margin-left: 300px;
    }

    .me-main {
        position: relative;
        margin-right: 300px;
    }

    /* event padding */
    .ep {
        padding-bottom: 5px;
    }
    .fs-0 {
        font-size: 5rem;
    }

    .fs-main-h {
        font-size: 54px;
    }

    .fs-main-p {
        font-size: 19px;
    }
    .fs-6 {
        font-size: 1rem;
    }

    .pb-6 {
        padding-bottom: 4rem;
    }

    .mt-6 {
        margin-top: 4rem;
    }
}